@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model TanqueLeve

<div class="row">
    <form class="col-md-4" asp-action="CriarLeve">
        <div class="form-group">
            <label asp-for="Nome" class="control-label"></label>
            <input asp-for="Nome" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Calibre" class="control-label"></label>
            <input asp-for="Calibre" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="PotenciaMotor" class="control-label"></label>
            <input asp-for="PotenciaMotor" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="QuantidadeTripulacao" class="control-label"></label>
            <input asp-for="QuantidadeTripulacao" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="DataFabricacao" class="control-label"></label>
            <input asp-for="DataFabricacao" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Velocidade" class="control-label"></label>
            <input asp-for="Velocidade" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ATGM" class="control-label"></label>
            <input asp-for="ATGM" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="CanhaoAutomatico" class="control-label"></label>
            <input asp-for="CanhaoAutomatico" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Paraquedismo" class="control-label"></label>
            <input asp-for="Paraquedismo" class="form-control" />
        </div>
        <div class="form-group">
            <input class="btn btn-success" type="submit" value="Criar!" />
            <a class="btn btn-info" asp-controller="Tanques" asp-action="Index">Voltar!</a>
        </div>
    </form>
</div>

