@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="text-center">
    <div class="display-4">
        <a class="btn btn-info" asp-controller="ReadSingle" asp-action="CriarLeve">Criar Tanque leve</a>
        <a class="btn btn-info" asp-controller="ReadSingle" asp-action="CriarMedio">Criar Tanque medio</a>
        <a class="btn btn-info" asp-controller="ReadSingle" asp-action="CriarPesado">Criar Tanque pesado</a>
        <a class="btn btn-info" asp-controller="ReadSingle" asp-action="CriarCaca">Criar Caça-Tanque</a>
        <a class="btn btn-info" asp-controller="ReadSingle" asp-action="CriarAnfibio">Criar Tanque anfibio</a>
    </div>
</div>
<div class="text-center">
    <a class="btn btn-info" asp-controller="Tanques" asp-action="Index">Voltar!</a>
</div>
